build/
.cache/
.ccls-cache/
compile_commands.json
test.ppm
docs/doxygen/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-debug-clang/
/cmake-build-release-clang/
.idea/
/cmake-build-debug-clang-coverage/
/test/cmake-build-release-clang/
/test/cmake-build-debug-clang/
